

.rn-navigation {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: var(--color-rotary-background);
}
.rn-navigation .rn-nav-active {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    top:3px;
    left: 0;
    right: 0;
    margin: 0 auto;
    backdrop-filter: invert(100%) contrast(2);
    z-index: 1;
}

.rn-navigation .rn-options-container {
    width: 100%;
    height: 100%;
    transform-origin: bottom center;
    transition: all ease-in-out 200ms;
}

.rn-navigation .rn-options-container .rn-option {
    --degree: 0deg;
    width: 50px;
    height: 100px;
    position:absolute;
    left:0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    transform-origin: bottom center;
    transform: rotate(var(--degree));
    padding: 8px 0 0 0;
    font-size: 24px;
    color: var(--color-rotary-dark);
    text-align: center;
}